# Scrape the Data from wikepedia and create a pandas dataframe

## scrape the data from the given URL

In [1]:
import requests

In [97]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [98]:
import pandas as pd

In [99]:
res=response.content

## Transform data into pandas dataframe

In [100]:
df_list = pd.read_html(res)

In [101]:
df = df_list[0]

In [102]:
print(df)

    Postal code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                          Neighborhood
0                                                  NaN
1                                                  NaN
2                                            Parkwoods
3                                     Victoria Village
4                           Regent Park / Harbourfront
..                                                 ...
175                                                NaN
176                                                NaN
177                                                NaN
178  Mimico NW / The Queensway West / South of Bloo...
179                                                NaN

[180 rows x 3 columns]

## Remove 'Not assigned' from Borough Column

In [103]:
df = df[(df.Borough!='Not assigned')]

## Final Result - Step 1

In [104]:
df

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

# Add lattitude and Longitide column data to the above dataframe

## Read CSV

In [105]:
df_latlong = pd.read_csv('/Users/sneha/Downloads/Geospatial_Coordinates.csv')

In [106]:
df_latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Rename the Column Name

In [109]:
df_latlong.rename(columns={"Postal Code":"Postal code"}, inplace=True)

In [111]:
df_latlong

    Postal code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

## Merge the data from 2 dataframes

In [133]:
df1 = pd.merge(df, df_latlong, on='Postal code', how='outer', indicator=False)

In [134]:
df1.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494

## Final Result - step 2

In [135]:
df1

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,43.636258,-79.498509
102,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,43.628841,-79.520999

# Cluster the data

In [139]:
Toronto_data =df1[df1['Borough'] == 'Etobicoke'].reset_index(drop=True)

In [140]:
Toronto_data.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
1,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,43.650943,-79.554724
2,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...,43.643515,-79.577201
3,M9P,Etobicoke,Westmount,43.696319,-79.532242
4,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724

In [141]:
Toronto_data

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
1,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,43.650943,-79.554724
2,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...,43.643515,-79.577201
3,M9P,Etobicoke,Westmount,43.696319,-79.532242
4,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724
5,M8V,Etobicoke,New Toronto / Mimico South / Humber Bay Shores,43.605647,-79.501321
6,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
7,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
8,M9W,Etobicoke,Northwest,43.706748,-79.594054
9,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,43.653654,-79.506944
10,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,43.636258,-79.498509
11,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,43.628841,-79.520999